* {
	/*border: 1px solid red;*/
}

body {
	font-family: 'Khula', sans-serif;
	/*background-color: blue;*/
	position: relative;
	overflow: scroll;
	margin: 0;
}

/*container for 1st section. The orange bar section*/
div.block1 {
	background-color: #e87450;
	overflow: hidden;
}

/*container for the words*/
ul {
	/*margin: 0;*/
	/*padding: 0;*/
	list-style: none
}

/*the words*/
ul.orange_words {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.orange_words li {
	margin-left: 16px;
	padding-top: 9px;
	line-height: 18px;
	font-family: 'Khula', sans-serif;
	font-size: 13px;
	font-weight: lighter;
	color: white;
	float: left;
}
li.fs {
	margin-left: 100px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 3px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 1px;
	font-size: 12px;
	border-radius: 3px;
	background-color: #b95c3e;
}

div.skinny_ties_logo {
	float: left;
	display: inline-block;
}

div.skinny_ties_logo img {
	margin-left: 100px;
	height: 130px;
	float: left;
}

ul.categories {
	font-family: quicksand, sans-serif;
	font-size: 21px;
	color: #686868;
	float: left;
}

ul.categories li {
	padding-top: 16px;
	margin-left: 22px;
	float: left;
}

/*bowtie section labels*/
div.bowtie_section_labels {
	float: left;
}

div.signreg {
	position: absolute;
	top: 32px;
	right: 122px;
	color: #a0a0a0;
	font-size: 12px;
	overflow: hidden;
}

ul.srcontent {
	float: right;
}

ul.srcontent li {
	float: right;
	margin-right: 10px;
}

div.cartsearchcontainer {
	float: right;
}

div.cartsearch {
	padding-top: 30px;
	margin-right: 130px;
	float: right;
	display: inline-block;
}
div.mag {
	/*border: 1px solid #7a7a7a;*/
	margin-top: 4px;
	float: left;
	background: url('assets/sprite@2x.png') no-repeat -17px -15px;
	background-size: 440px 220px;
	width: 18px;
	height: 18px;
}

div.cartsearch span input {
	font-size: 8px;
	float: right;
}

div.cartsearch span {
	font-size: 13px;
}


div.cart {
	color: #7a7a7a;
	line-height: 20px;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	padding: 5px;
	margin-right: 10px;
	margin-top: 3px;
	float: left;
	display: inline-block;
}
div.cartsprite {
	margin-top: 2px;
	margin-right: 7px;
	float: left;
	background: url('assets/sprite@2x.png') no-repeat -45px -16px;
	background-size: 400px 200px;
	width: 14px;
	height: 14px;
}

div.cart .zero {
	border-radius: 5px;
	padding-top: 3px;
	padding-right: 7px;
	padding-left: 7px;
	color: white;
	background-color: #c8c8c8;
	padding-bottom: 0;
}

input.searchbox {
	border: none;
	width: 140px;
	max-height: 20px;
}
div.grayshade {
	border: 4px solid #f3f3f3;
	border-radius: 4px;
	float: right;
}

div.totalsearch {
	border: 1px solid #7a7a7a;
	border-radius: 4px;
	float: right;
	padding-left: 7px;
}

/*<perforated border*/
div.perf_container {
	border: none;
	float: left;
}

img.perf {
	border: none;
	height: 5px;
	float: left;
}

/*gray_box division*/
div.gray_box {
	float: left;
	background-color: #f4f4f4;
}

div.tie_box {
	float: left;
}

div.tie_box img {
	height: 200px;
	margin-right: 20px;
}
img.black {
	margin-left: 170px;
}

img.striped {
	padding-right: 100px;
}

/*Tie Label Container*/
}

div.tie_labels {
	float: left;
}

div.tie_labels span {
	color: #383838;
	font-weight: bold;
	margin-left: 66px;
}

#black_span {
	margin-left: 200px;
	margin-right: 10px;
}

#cotton_span {
	margin-left: 53px;
}

#graphic_span {
	margin-left: 49px;
}

#plaid_span {
	margin-left: 67px;
	margin-right: 20px
}

#striped_span {
	margin-left: 80px;

}

div.start_dress {
	/*float: left;*/
	padding-top: 50px;
	padding-bottom: 50px; 

}

div.start_dress span {
	/*float: left;*/
	font-size: 58px;
	margin-left: 400px;
	margin-top: 60px;

}


/*Bowtie  level images*/
#bowtiesimg {
	margin-left: 100px;
}

div.bowtie_section img {
	margin: 12px;
	height: 200px;
	float: left;
}
p {
	float: left;
}
div.xborder {
	/*float: left;*/
	clear: left;
}
div.xborder {
	height: 7px;
	background-image: url(assets/hatch-light@2x.png);
	background-repeat: repeat-x;
	background-size: 7px;
}

/*weekly pick section*/
li.wkpk_items {
	float: left;
}

li.wkpk_items span {
	float: left;
	clear: left;
}

div.fb {
	background: url('assets/sprite@2x.png') no-repeat -270px 0;
	background-size: 400px 200px;
	width: 35px;
	height: 35px;
	float: left;
	clear: left;
}

div.pin {
	background: url('assets/sprite@2x.png') no-repeat -270px -40px;
	background-size: 400px 200px;
	width: 35px;
	height: 35px;
	float: left;
}

div.twit {
	background: url('assets/sprite@2x.png') no-repeat -270px -80px;
	background-size: 400px 200px;
	width: 35px;
	height: 35px;
	float: left;
}

li.wkpk_items input {
	float: left;
	clear: left;
}

li.wkpk_items button {
	clear: left;
}

}
li .style {
	float: right;
	clear: left;
}

span.style_guide {
	float: right;
}

img.guy {
	height: 100px;
	float: right;
	clear: right;
}

span.eighty {
	float: right;
	clear: right;
}

div.gray_box2 {
	background-color: #f4f4f4;
	float: left;
}

ul.shopby {
	float: left;
}

div.contact {
	float: right;
}

div.contact button {
	float: right;
}

p.copywrite {
	clear: left;
}
