* {
	border: 1px solid red;
}
body {
	position: relative;
	overflow: hidden;
	margin: 0;
}
/*container for 1st section. The orange bar section*/
div.block1 {
	overflow: hidden;
}
/*container for the words*/
ul {
	margin: 0;
	padding: 0;
	list-style: none
}
/*the words*/
.orange_words li {
	float: left;
}
div.skinny_ties_logo {
	float: left;
	display: inline-block;
}
div.skinny_ties_logo img {
	float: left;
}
ul.categories {
	float: left;
}
ul.categories li {
	float: left;
}


div.signreg {
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
	/*width: 700px;*/
	/*float: right;*/
	/*display: inline-block;*/
}
ul.srcontent {
	float: right;
}
ul.srcontent li {
	float: right;
}
div.cartsearchcontainer {
	float: right;
}
div.cartsearch {
	float: right;
	display: inline-block;
}
div.cartsearch span input {
	float: right;
}
div.cart {
	display: inline-block;
}
