* {
	/*border: 1px solid red;*/
}

body {
	font-family: 'Khula', sans-serif;
	/*background-color: blue;*/
	position: relative;
	overflow: scroll;
	margin: 0;
}

div.same_sizer {
	min-height: 2000px ;
	min-width: 100%;
	/*max-width: 100%;*/
	/*min-width: 1330px;*/
	/*max-width: 1330px;*/
	position: static;
	overflow: scroll;

}

/*container for 1st section. The orange bar section*/
div.block1 {
	max-width: 100%;
	background-color: #e87450;
	overflow: hidden;
}

/*container for the words*/
ul {
	/*margin: 0;*/
	/*padding: 0;*/
	list-style: none
}

/*the words*/
ul.orange_words {
	padding: 3px;
	margin: 0;
	overflow: hidden;
}

.orange_words li {
	margin-left: 16px;
	padding-top: 9px;
	line-height: 18px;
	font-family: 'spinnaker', sans-serif;
	font-size: 13px;
	font-weight: lighter;
	color: white;
	float: left;
}
li.fs {
	margin-left: 100px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 4px;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom: 3px;
	border-radius: 3px;
	background-color: #b95c3e;
	color: white !important;
	font-weight: lighter !important;
	font-size: 12px;
	/*the first child of each list item is designated as black near the bottom of the page*/
}

div.skinny_ties_logo { 
	max-width: 1366px;
	float: left;
	/*display: inline-block;*/
}

div.skinny_ties_logo img {
	margin-left: 100px;
	height: 130px;
	float: left;
}

ul.categories {
	font-family: "quicksand", sans-serif;
	font-size: 25px;
	color: #686868;
	float: left;
	line-height: 100px;
	margin: 0;
	margin-left: 20px;
}

ul.categories li {
	color: #686868;
	font-weight: lighter;
	padding-top: 16px;
	margin-left: 22px;
	float: left;
}

/*bowtie section labels*/
div.bowtie_section_labels {
	float: left;
}

div.signreg {
	position: absolute;
	top: 48px;
	right: 122px;
	color: #a0a0a0;
	font-size: 16px;
	overflow: hidden;
}

ul.srcontent {
	float: right;
}

ul.srcontent li {
	/*First-child list items being set to bold lower on page*/
	color: #a0a0a0 !important;
	font-size: 13px !important;
	font-weight: normal !important;
	float: right;
	margin-right: 10px;
}

div.cartsearchcontainer {
	float: right;
}

div.cartsearch {
	margin-top: 18px;
	padding-top: 30px;
	margin-right: 130px;
	float: right;
	display: inline-block;
}
div.mag {
	/*border: 1px solid #7a7a7a;*/
	margin-top: 4px;
	float: left;
	background: url('assets/sprite@2x.png') no-repeat -17px -15px;
	background-size: 440px 220px;
	width: 18px;
	height: 18px;
}

div.cartsearch span input {
	font-size: 8px;
	float: right;
}

div.cartsearch span {
	font-size: 13px;
}


div.cart {
	color: #7a7a7a;
	line-height: 20px;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	padding: 5px;
	margin-right: 10px;
	margin-top: 3px;
	float: left;
	display: inline-block;
}
div.cartsprite {
	margin-top: 2px;
	margin-right: 7px;
	float: left;
	background: url('assets/sprite@2x.png') no-repeat -45px -16px;
	background-size: 400px 200px;
	width: 14px;
	height: 14px;
}

span.cart_span {
	float: left;
	margin-top: 2px;
}

div.triangle {
	float: left;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 4px 4px 0;
	border-color: transparent #c8c8c8 transparent transparent;
	margin-top: 6px;
	margin-left: 3px;
}

div.cart .zero {
	float: right; 
	border-radius: 5px;
	padding-top: 3px;
	padding-right: 7px;
	padding-left: 7px;
	color: white;
	background-color: #c8c8c8;
	padding-bottom: 0;
	margin-left: 0;
}

input.searchbox {
	border: none;
	width: 140px;
	max-height: 20px;
	font-size: 13px;
}
div.grayshade {
	border: 4px solid #f3f3f3;
	border-radius: 4px;
	float: right;
}

div.totalsearch {
	border: 1px solid #7a7a7a;
	border-radius: 4px;
	float: right;
	padding-left: 7px;
}

/*<perforated border*/
div.perf_container {
	width: 100%;
	height: 5px;
	background-image: url(assets/perforated-bottom@2x.png); 
	background-repeat: repeat-x;
	background-size: 44px 5px;
	overflow: hidden;
	float: left;
	position: relative;
	z-index: 1;
}

/*gray_box division*/
div.gray_box {
	float: left;
	width: 100%;
	height: 400px;
	background-color: #f4f4f4;
}

div.tie_box {
	position: absolute;
	float: left;
	z-index: 0;
}

div.tie_box img {
	height: 200px;
	margin-right: 20px;
}
img.black {

	margin-left: 170px;
}

img.striped {
	/*padding-right: 100px;*/
}

/*Tie Label Container*/
}

ul.tie_labels {
	float: left;
	position: absolute;
	top: 0;
	z-index: 2;
}

ul.tie_labels li {
	float: left;
	position: absolute;
	color: #383838;
	font-family: "quicksand", sans-serif;
	font-weight: bold;
	z-index: 2;
}


#black_li {
	position: absolute;
	top: 375px;
	left: 200px;
}

#blue_li {
	position: absolute;
	top: 375px;
	left: 324px;

}

#collegiate_li {
	position: absolute;
	top: 375px;
	left: 424px;

}

#cotton_li {
	position: absolute;
	top: 375px;
	left: 555px;
}

#favorites_li{
	position: absolute;
	top: 375px;
	left: 667px;

}

#graphic_li {
	position: absolute;
	top: 375px;
	left: 796px;
}

#plaid_li {
	position: absolute;
	top: 375px;
	left: 927px;
}

#silk_li {
	position: absolute;
	top: 375px;
	left: 1053px;

}

#striped_li {
	position: absolute;
	top: 375px;
	left: 1158px;

}

div.start_dress {
	/*float: left;*/
	padding-top: 280px;
	padding-bottom: 50px;
	background-color: #f4f4f4;
}

div.start_dress span {
	/*float: left;*/
	font-size: 58px;
	margin-left: 400px;
	margin-top: 60px;

}

div.bowtie {
	margin-top: 52px;
	margin-left: 115px;
	padding-bottom: 20px;
	float: left;
	background-image: url(assets/bow-ties@1.5x.jpg);
	background-size: 100%;
	min-height: 200px; 
	width: 370px;
}

.bowtie span {
	font-weight: bolder;
	font-size: 25px;
	padding-right: 20px; 
	padding-top: 20px;
	float: right;
}

div.pocket {
	margin-top: 52px;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 20px;
	float: left;
	background-image: url(assets/pocket-squares@1.5x.jpg);
	background-size: 100%;
	min-height: 200px; 
	width: 370px;
}

.pocket span {
	font-weight: bolder;
	font-size: 25px;
	padding-right: 20px; 
	padding-top: 20px;
	padding-bottom: 0;
	float: right;
	clear: right;
}

span.squares {
	padding-top: 0;
}

div.bars {
	margin-top: 52px;
	padding-bottom: 20px;
	float: left;
	background-image: url(assets/tie-bars@1.5x.jpg);
	background-size: 100%;
	min-height: 200px; 
	width: 370px;
}
.bars span {
	font-weight: bolder;
	font-size: 25px;
	padding-right: 20px; 
	padding-top: 20px;
	float: right;
}

p.origin_p {
	float: left;
	clear: left;
	font-family: "khula", sans-serif;
	font-size: 38px;
	font-weight: lighter;
	text-align: center;
	margin-left: 250px;
	margin-top: 90px;
	margin-bottom: 0;
}

span.view {
	float: left;
	clear: left;
	font-family: "spinnaker", sans-serif;
	font-size: 18px;
	color: #53a4f7;
	margin-left: 570px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 80px;
}
div.xborder {
	/*float: left;*/
	clear: left;
}
div.xborder {
	height: 7px;
	background-image: url(assets/hatch-light@2x.png);
	background-repeat: repeat-x;
	background-size: 7px;
}

/*weekly pick section*/

ul.weekly_pick_section {
	overflow: hidden;
	max-width: 100%;
}
li.wkpk_items {
	float: left;
}

li.wkpk_items span {
	float: left;
	clear: left;
}

div.fb {
	background: url('assets/sprite@2x.png') no-repeat -270px 0;
	background-size: 400px 200px;
	width: 35px;
	height: 35px;
	float: left;
	clear: left;
}

div.pin {
	background: url('assets/sprite@2x.png') no-repeat -270px -40px;
	background-size: 400px 200px;
	width: 35px;
	height: 35px;
	float: left;
}

div.twit {
	background: url('assets/sprite@2x.png') no-repeat -270px -80px;
	background-size: 400px 200px;
	width: 35px;
	height: 35px;
	float: left;
}

/*li.wkpk_items {
	margin-left: 30px;
}*/

li.wkpk_items span {
	margin-left: 30px;
}

li.wkpk_items img {
	margin-left: 30px;
	height: 150px;
}

li.wkpk_items input {
	float: left;
	clear: left;
}

li.wkpk_items button {
	margin-left: 30px;
	color: white;
	font-size: 13px;
	background-color: #53a4f7;
	height: 27px;
	border: none;
	border-radius: 4px;
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 0; 
	float: left;
	clear: left;
}

span.wp_tops {
	margin-top: 23px;
	font-size: 18px;
	font-weight: bolder;
}

span.colored_span {
	font-size: 14px;
	font-weight: bold;
	color: #53a4f7;
}

span.essentials {
	margin: 0 !important;
}

span.tightly {
	font-size: 14px;
}

div.fb {
	margin-left: 34px;
	margin-top: 10px;
}

div.pin {
	margin-left: 10px;
	margin-top: 10px;

}

div.twit {
	margin-left: 10px;
	margin-top: 10px;
}

span.our_letter {
	font-size: 14px;
	margin-bottom: 10px;
}

div.email {
	border: 4px solid #f3f3f3;
	border-radius: 4px;
	margin-left: 30px;
	margin-bottom: 10px;
	float: left;
	clear: left;
}

li .style {
	float: left;
	/*clear: left;*/
}

span.style_guide {
	margin-top: 23px;
	/*margin-right: 345px;*/

	font-size: 18px;
	font-weight: bolder;
	float: right;
}

#guy {
	height: 140px;
	/*margin-right: 200px;*/
	float: left;
	clear: left;
}

span.eighty {
	/*margin-right: 188px;*/
	font-size: 14px;
	float: right;
	clear: right;
	margin-bottom: 60px;
}

div.gray_box2 {
	background-color: #f4f4f4;
	/*padding-left: 40px;*/
	float: left;
	max-width: 1366px;
	min-width: 1366px;
}

ul.shopby {
	padding-top: 15px;
	/*margin-left: 40px;*/
	font-size: 15px;
	float: left;
	padding-left: 60px;
}

.shopby li {
	height: 19px;
	color: #949494;
}

li:first-child {
	color: black;
	font-weight: bold;
}

div.contact {
	color: white;
	float: left;
	/*clear:;*/
	background-color: #a4afbe;
	border: 1px solid #9aa3b0;
	border-radius: 4px;
	margin-left: 300px;
	margin-right: 20px;
	margin-top: 32px;
	padding-left: 15px;
	padding-top: 10px;
	position: relative;
}

span.werehere {
	float: left;
	clear: left;
	font-size: 26px;
	font-weight: lighter;
	font-style: italic;
	margin-right: 96px;
}

span.emailhelp {
	float: left;
	clear: left;
	font-weight: lighter;
	font-style: italic;
	margin-top: 8px;
}

span.number {
	float: left;
	clear: left;
	font-weight: lighter;
	font-size: 21px;
	font-stretch: 3px;
	padding-bottom: 10px;
}
div.contact button {
	background-color: #53a5f7;
	border: 1px solid #4994df;
	border-radius: 5px;
	position: absolute;
	top: 55%;
	right: 15px;
	/*clear: right;*/
	/*margin-left: 50px;*/
	/*margin-bottom: 20px;*/
	/*margin-right: 20px;*/
	font-size: 20px;
	font-weight: lighter;
	padding-top: 4px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
}

p.copywrite {
	box-sizing: border-box;
	padding-top: 20px;
	padding-bottom: 30px;
	padding-left: 60px;
	padding-right: 60px;
	font-size: 12px;
	color: #949494;
	background-color: #f4f4f4;
	clear: left;
	min-width: 100%;
}
