body {
	font-family: 'Signika Negative', sans-serif;
}
/*Top of page*/
.orange_banner {
	color: white;
	font-size: 17px;
	background-color: darkorange;
	padding: 7px;
	padding-left: 100px;
}

/*Buttons for top of page*/
button {
	background-color: orange;
	margin-left: 6px;
	border: none;
}

/*Skinny Ties Image division*/
.skinny {
	background-color: black;
	color: red;
}

.search {
	float: right;
}

/*Sign in and register */
.sign_in {
	float: right;
}

