* {
	/*border: 1px solid red;*/
}

body {
	/*background-color: blue;*/
	position: relative;
	overflow: scroll;
	margin: 0;
}

/*container for 1st section. The orange bar section*/
div.block1 {
	overflow: hidden;
}

/*container for the words*/
ul {
	margin: 0;
	padding: 0;
	list-style: none
}

/*the words*/
.orange_words li {
	float: left;
}

div.skinny_ties_logo {
	float: left;
	display: inline-block;
}

div.skinny_ties_logo img {
	float: left;
}

ul.categories {
	float: left;
}

ul.categories li {
	float: left;
}

/*bowtie section labels*/
div.bowtie_section_labels {
	float: left;
}

div.signreg {
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
}

ul.srcontent {
	float: right;
}

ul.srcontent li {
	float: right;
}

div.cartsearchcontainer {
	float: right;
}

div.cartsearch {
	float: right;
	display: inline-block;
}
div.mag {
	float: left;
	background: url('assets/sprite@2x.png') no-repeat -15px -15px;
	background-size: 400px 200px;
	width: 13px;
	height: 13px;
}

div.cartsearch span input {
	float: right;
}


div.cart {
	float: left;
	/*display: inline-block;*/
}
div.cartsprite {
	float: left;
	background: url('assets/sprite@2x.png') no-repeat -45px -16px;
	background-size: 400px 200px;
	width: 14px;
	height: 12px;
}

/*<perforated border*/
div.perf_container {
	border: none;
	float: left;
}

img.perf {
	border: none;
	height: 5px;
	float: left;
}

/*gray_box division*/
div.gray_box {
	float: left;
	background-color: #f4f4f4;
}

/*Tie Label Container*/
}

div.start_dress {
	float: left;
}

div.startdress span {
	float: left;
}


/*Bowtie  level images*/
#bowtiesimg {
	margin-left: 100px;
}

div.bowtie_section img {
	margin: 12px;
	height: 200px;
	float: left;
}
p {
	float: left;
}
div.xborder {
	/*float: left;*/
	clear: left;
}
div.xborder {
	height: 7px;
	background-image: url(assets/hatch-light@2x.png);
	background-repeat: repeat-x;
	background-size: 7px;
}

/*weekly pick section*/
li.wkpk_items {
	float: left;
}

li.wkpk_items span {
	float: left;
	clear: left;
}

}
li .style {
	clear: left;
}

img.guy {
	float: right;
}

div.gray_box2 {
	background-color: #f4f4f4;
	float: left;
}

ul.shopby {
	float: left;
}

div.contact {
	float: right;
}

div.contact button {
	float: right;
}

p.copywrite {
	clear: left;
}
